html{
    box-sizing: border-box;
    font-size: 100%;
}

*{
    font-family: 'Courier New', Courier, monospace;
}

body{
    display: flex;
    background-color: aliceblue;
    justify-content: center;
    margin: 0 auto;
}

h1{
    text-align: center;
}

.container{
    width: 60%;
    height: 100vh;
    padding: 0 20px;
}

.input{
    text-align: center;
}

label{
    font-size: large;
    font-weight: bold;
}

#q{
    min-width: 50%;
    font-size: large;
}

#q:focus{
    border: 5px solid greenyellow;
    font-weight: bold;
}

#fetch{
    color: white;
    font-size: large;
    font-weight: bold;
    border-radius: 4px;
    background-color: rgb(64, 165, 160);
    transition: background-color 0.5s;
}

#fetch:hover{
    background-color: rgb(94, 241, 94);
}
#fetch:active{
    box-shadow: 5px 5px #6d6c6c;
}

#q, #fetch{
    padding: 5px;
}

#alert-text{
    margin: 8px auto;
    color: red;
    font-size: 1.1rem;
}

.box-detail{
    font-size: larger;
}

#map{
    width: 100%;
    height: 500px;
}

#detail{
    display: flex;
    align-items: center;
}

footer{
    text-align: center;
    margin: 0 auto;
    padding: 10px;
}

@media (max-width: 800px){
    .container{
        width: 100%;
    }
}